<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Nirog | Dashboard</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar__logo">
            <img class="logo" src="/assets/app_icon.svg" alt="">
            <a href="/" class="navbar__logo-name">Nirog</a>
        </div>
        <nav class="menu menu-3">
                <ul>
                  <li><a class="button" href="/auth/signout">Sign out</a></li>
                </ul>
        </nav>
    </div>
    <header class="header">
        <img class="header-img" src="/assets/gmch.jpg" alt="img">
    </header>
    <main class="main">
        <div class="info">
            <div class="info-top">
                <div class="info-name">
                    <h1><%= hospital.name %></h1>
                    <h3><%= hospital.address %></h3>
                </div>
                <div class="info-contact">
                    <h3>Contact: <span><%=hospital.phone %></span> </h3>
                    <h3>Email:  <span><%=hospital.email %></span> </h3>
                </div>
            </div>
            <div class="info-bio">
                <div class="info-bio-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium integer odio viverra hendrerit faucibus sed amet. Felis hac potenti sit sit amet lobortis. Amet tellus ullamcorper eget vitae. Non scelerisque at ipsum eleifend ullamcorper cursus vestibulum. hendrerit faucibus sed amet. Felis hac potenti sit sit amet lobortis. Amet tellus ullamcorper eget vitae. Non scelerisque at ipsum eleifend ullamcorper cursus vestibulum.
                </div>
                <div class="info-bio-button">
                    <a class="edit-bio-btn" href="/hospital/update/contact/<%= hospital._id %>"> <img class="svg" src="/assets/Edit.svg" alt=""> Edit Details</a>
                </div>
            </div>
        </div>
        <div class="doctors-heading">
            <h1 class="doctors-heading-main">Doctors</h1>
            <a class="edit-bio-btn" href="/hospital/add/doctor/<%= hospital._id %>"> <img class="svg" src="/assets/add-svg.svg" alt=""> Add Doctor</a>
        </div>
        <% for(let i=0; i < doctors.length; i++) { %>
            <div class="doctors">
                <div class="doctors-one">
                    <h2><%= doctors[i].name %></h2>
                    <br/>
                    <h4><%= doctors[i].specialization %></h4>
                </div>
                <div class="doctors-two"><%= doctors[i].email %></div>
            </div>
         <% } %>
        <div class="vaccines"></div>
        <div class="doctors-heading">
            <h1 class="doctors-heading-main">Vaccines</h1>
            <a class="edit-bio-btn" href="/hospital/add/vaccine/<%= hospital._id %>"> <img class="svg" src="/assets/add-svg.svg" alt=""> Add Vaccine</a>
        </div>
        <br/>
        <br/>

        <% for(let i=0; i < vaccines.length/2; i++) { %>
        <div class="vaccines">
            <div class="vaccines-one">
                <h2><%= vaccines[i].name %></h2>
                <br/>
                <h3><%= vaccines[i].whenToGive %></h3>
            </div>
            <div class="vl"></div>
            <div class="vaccines-two">
                <h2><%= vaccines[i+1].name %></h2>
                <br/>
                <h3><%= vaccines[i+1].whenToGive %></h3>
            </div>
        </div>
         <% } %>
    </main>
</body>
</html>